:root {
    --bg-color: #ECF2F8;
    --white-color: #fff;
    --primary-color: #733FC8;
    --primary-accent-color: #A775F1;
    --secondary-color: #48556A;
    --tertiary-color: #19202D;
    --lightest-gray-color: #CFCFCF;
}
body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white-color);
    background-color: var(--bg-color);
    margin: 4em auto;
}
.container {
    display: grid;
    padding: 10px;
    max-width: 1440px;
    margin: 5.5rem;
    }
.grid-item {
    grid-area: card;
    gap: 5px;
    box-sizing: border-box;
    background-color: #733FC8;
    border-radius: 10px;
    padding: 2em 1.75em;
    margin: 1em;
    display: grid;
    grid-template-columns: 45px auto;
    grid-template-rows: 16px 16px auto minmax(auto, 1fr);
    grid-template-areas:
    "img name"
    "img title"
    "main-quote main-quote"
    "testimonial testimonial";
    }
    /*    item1          */
.item1 {
    width: 34rem;
    height: 19rem;
    padding-bottom: 1rem;
    text-align-last: left;
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
    border-radius: 0.6rem;
    background-color: var(--primary-color);
    background-image: url(bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 80% 0%;
    box-shadow: 0px 10px 25px #48556a59;
    }
.card__img1 {
    grid-area: img;
    height: 30px;
    width: auto;
    border-radius: 100%;
    margin: -0.2rem 0;
    }
.img-border {
    border: 2px solid var(--primary-accent-color);
    }
    .card__name {
    grid-area: name;
    font-size: .8125rem;
    font-weight: 500;
    margin-top: -0.1rem;
    }
.card__title {
    grid-area: title;
    font-size: .6875rem;
    opacity: 50%;
    margin-top: 2px;
    margin-top: -0.2rem;
    }
.card__main-quote1 {
    grid-area: main-quote;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: -2.2px;
    text-align: left;
    }
.card__testimonial1 {
    font-size: .8125rem;
    grid-area: testimonial;
    color: var(--testimonial-color);
    opacity: 70%;
    line-height: 1.6;
    text-align: left;
    margin-top: -10px;
    }
    /*    item2    */
.item2 {
    width: 15rem;
    height: 17rem;
    margin-top: 0.5rem;
    padding-bottom: 1rem;
    border-radius: 0.6rem;
    background-color: var(--white-color);
    grid-column: 1;
    grid-row: 2;
    grid-template-areas:
        "img name"
        "img title"
        "main-quote main-quote"
        "testimonial testimonial";
    box-shadow: 0px 10px 25px #48556a59;
    }
.card__img2 {
    grid-area: img;
    height: 30px;
    width: auto;
    border-radius: 100%;
    margin-top: 2px;
    }
.card__name2 {
    grid-area: name;
    font-size: .8125rem;
    font-weight: 500;
    margin-top: -0.1rem;
    color: var(--tertiary-color);
    }
.card__title2 {
    grid-area: title;
    font-size: .6875rem;
    opacity: 50%;
    margin-top: 2px;
    margin-top: -0.2rem;
    color: var(--secondary-color);
    }
.card__main-quote2 {
    grid-area: main-quote;
    color: var(--tertiary-color);
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0.5rem;
    text-align: left;
    }
.card__testimonial2 {
    font-size: .8125rem;
    grid-area: testimonial;
    color: var(--secondary-color);
    opacity: 70%;
    line-height: 1.6;
    text-align: left;
    margin-top: -10px;
    }
    /* item 3 */
.item3 {
    grid-column: 1 / span 7;
    grid-row: 2;
    gap: 5px;
    width: 36.5rem;
    height: 17rem;
    margin-top: 0.5rem;
    margin-left: 18rem;
    padding-top: 0px;  
    padding-right: 2rem;
    border-radius: 0.6rem;
    background-color: var(--tertiary-color);
    grid-template-areas:
        "img name"
        "img title"
        "main-quote main-quote"
        "testimonial testimonial";
    box-shadow: 0px 10px 25px #48556a59;

}
.card__img3 {
    grid-area: img;
    height: 30px;
    width: auto;
    border-radius: 100%;
    margin-top: 2rem;
    }
.img-border {
    border: 2px solid var(--primary-accent-color);
    }
    .card__name3 {
    grid-area: name;
    font-size: .8125rem;
    font-weight: 500;
    margin-top: 2rem;
    }
.card__title3 {
    grid-area: title;
    font-size: .6875rem;
    opacity: 50%;
    margin-top: 2px;
    margin-top: 2rem;
    }
.card__main-quote3 {
    grid-area: main-quote;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 2rem;
    text-align: left;
    }
.card__testimonial3 {
    font-size: .8125rem;
    grid-area: testimonial;
    color: var(--testimonial-color);
    opacity: 70%;
    line-height: 1.6;
    text-align: left;
    margin-top: -10px;
    }
    /* item 4 */
.item4 {
    grid-column:2 / span 3;
    grid-row: 1;
    width: 18rem;
    gap: 1px;
    height: 19rem;
    margin-top: 1rem;
    margin-left: 17.5rem;
    padding-top: 4px;  
    padding-right: 2rem;
    border-radius: 0.6rem;
    background-color: var(--secondary-color);
    grid-template-areas:
        "img name"
        "img title"
        "main-quote main-quote"
        "testimonial testimonial";
    box-shadow: 0px 10px 25px #48556a59;
    }
.card__img4 {
    grid-area: img;
    height: 30px;
    width: auto;
    border-radius: 100%;
    margin-top: 1.5rem;
}
.card__name4 {
    grid-area: name;
    font-size: .8125rem;
    font-weight: 500;
    margin-top: 1.5rem;
    }
.card__title4 {
    grid-area: title;
    font-size: .6875rem;
    opacity: 50%;
    margin-top: 1.5rem;
    }
.card__main-quote4 {
    grid-area: main-quote;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 2rem;
    text-align: left;
    }
.card__testimonial4 {
    font-size: .8125rem;
    grid-area: testimonial;
    color: var(--testimonial-color);
    opacity: 70%;
    line-height: 1.6;
    text-align: left;
    margin-top: -10px;
    }
    /* item 5 */
.item5 {
    grid-column: 4;
    grid-row: 1 / span 3;
    width: 16.5rem;
    gap: 1px;
    height: 37.5rem;
    margin-top: 1rem;
    margin-left: 15rem;
    padding-top: 4px;  
    padding-right: 2rem;
    border-radius: 0.6rem;
    background-color: var(--white-color);
    grid-template-columns: 45px auto;
    grid-template-rows: 16px 16px auto minmax(auto, 1fr);
    grid-template-areas:
        "img name"
        "img title"
        "main-quote main-quote"
        "testimonial testimonial";
    box-shadow: 0px 10px 25px #48556a59;
    }
.card__img5 {
    grid-area: img;
    height: 30px;
    width: auto;
    border-radius: 100%;
    margin-top: 1.5rem;
    }
.card__name5 {
    grid-area: name;
    font-size: .8125rem;
    font-weight: 500;
    margin-top: 1.4rem;
    color: var(--tertiary-color);
    }
.card__title5 {
    grid-area: title;
    font-size: .6875rem;
    opacity: 50%;
    margin-top: 1.5rem;
    color: var(--secondary-color);
    }
.card__main-quote5 {
    grid-area: main-quote;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 2rem;
    text-align: left;
    color: var(--tertiary-color);
    }
.card__testimonial5 {
    font-size: .8125rem;
    grid-area: testimonial;
    color: var(--secondary-color);
    opacity: 70%;
    line-height: 1.6;
    text-align: left;
    margin-top: -10px;
    }
@media (max-width: 768px) {

body {
    margin-left: 3rem;
}
.container {
    display: grid;
    margin: -0.5rem;
    padding: 10px;
    width: 22rem;
    height: 23rem;
    }
.item1 {
    margin-bottom: -8rem;
    margin-left: -2rem;
    width: 44rem;
    height: 15rem;
    text-align-last: left;
    }
.item2 {
    width: 44rem;
    height: 10rem;
    margin-top: -37.5rem;
    margin-left: -2rem;
    }
.item3 {
    margin-left: -2rem;
    width: 20rem;
    height: 25rem;
    margin-top: -26rem;
}
.item4 {
    width: 23rem;
    height: 25rem;
    margin-top: 29rem;
    margin-left: -24rem;
}
.item5 {
    margin-top: 55rem;
    margin-left: -45rem;
    width: 44rem;
    height: 16rem;
}
}
/* @media (max-width: 1280px) {
    .item1 {
        margin-left: -1rem;
    }
    .item2 {
        margin-left: -1rem;
    }
    .item3 {
        margin-left: 15rem;
        width: 37.4rem;
    }
    .item4 {
        margin-left: 19rem;
    }
    .item5 {
        margin-left: 20rem;
    }
}  */


